extends layouts/default

block body
  .wrapper
    h1#title Cena
    ul#main-form
      li.control-item.button.add
        span Add a new line
        icon.icon-add
      li.card-list-item
        ul#card-list
          li.card-item
            .input
              input(placeholder='Number')
              input(type='password', placeholder='Password')
            .control
              icon.success.icon-tick
              icon.button.icon-cross
          li.card-item
            .input
              input(placeholder='Number')
              input(type='password', placeholder='Password')
            .control
              .shown
                icon.fail.icon-cross
              .hidden
                span.message.fail Wrong Password
                icon.button.icon-remove
      li.control-item.button.start
        span Start
        icon.icon-tick

block scripts
  script(src='scripts/main.js')