extends layouts/default

block body
  script#tmpl-line(type='text/x-underscore')
    li.card-item
      .input
        input.input-card(placeholder='Number',value!='<%= card %>')
        input.input-pass(type='password', placeholder='Password',value!='<%= pass %>')
      .control
        span.message
        span.button
          icon.button.icon-remove

  .wrapper
    h1#title Cena
    form#main-form
      ul#form-list
        li.control-item.button.add
          span Add a new line
          icon.icon-add
        li.card-list-item
          ul#card-list
            li.card-item
              .input
                input(placeholder='Number')
                input(type='password', placeholder='Password')
              .control.slide
                span.message.success
                  icon.icon-tick
                span.button
                  icon.button.icon-cross
            li.card-item
              .input
                input(placeholder='Number')
                input(type='password', placeholder='Password')
              .control.slide
                span.message.fail
                  icon.icon-cross
                  span Wrong Password
                span.button
                  icon.button.icon-remove
        li.control-item.button.start
          span Start
          icon.icon-tick

block scripts
  script(src='scripts/main.js')