extends layouts/default

block body
  section#section-title
    h1 Cena
    a.btn-add(href='#') Add
    |  
    a.btn-start(href='#') Start
  section#section-form
    script#tmpl-card(type='text/x-underscore')
      <tr class="table-row">
      <td>
      <input type="text" class="card-num" placeholder="Card Number" value="<%= num %>">
      </td>
      <td>
      <input type="password" class="card-pass" placeholder="Password" value="<%= pass %>">
      </td>
      <td>
      <a href="#" class="btn-remove">Delete</a>
      </td>
      </tr>
    table#form-table
      tbody
        tr.table-header
          th.cln-no Card Number
          th.cln-psw Password
          th.cln-ctrl
block scripts
  script(src='scripts/main.js')