@import 'nib'

@font-face
  font-family 'Josefin Sans'
  font-style normal
  font-weight 400
  src local('Josefin Sans'), local('JosefinSans'), url('http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff') format('woff')

@font-face
  font-family 'Lato'
  font-style normal
  font-weight 300
  src local('Lato Light'), local('Lato-Light'), url('http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff') format('woff')

html
  height 100%

body
  background #36b0e3
  background-image url("../img/cloud.svg"), linear-gradient(to right, #36b0e3 10%, #0071b3 100%)
  background-repeat no-repeat
  background-position bottom
  background-attachment fixed
  background-size 100%
  font-family 'Lato'
  font-weight 300
  letter-spacing 0.7pt
  margin 0

ul
  padding 0
  margin 0

li
  list-style none

icon
  height 50px
  width 50px
  font-size 40px
  overflow hidden
  &:before
    margin 5px

form_width = 450px
box_width = 50px

.wrapper
  margin 100px auto
  width form_width
  text-align center

.button
  cursor pointer

#title
  color #fff
  font 400 60pt/40pt 'Josefin Sans'
  letter-spacing 5pt
  text-shadow 2px 2px 2px rgba(0,0,0,0.2)

#main-form
  border-radius 5px
  overflow hidden
  box-shadow 0 0 20px rgba(0,0,0,0.3)
  .card-list-item
    min-height 200px
    background #f2f2f2
  .control-item
    padding 8px 50px
    font-size 25px
    text-align right
    color #fff
    position relative
    transition all 0.3s ease
    icon
      position absolute
      right 0
      top 0
    &.add
      background #00beff
      &:hover
        background #1ac4ff
    &.start
      background #2cca2c
      &:hover
        background #3cd53c
    &.button
      &:hover
        text-shadow 0 0 10px rgba(255,255,255,0.5)

.card-item
  height box_width
  overflow hidden
  background #fff
  position relative
  color #555
  text-align left
  font-size 20px
  border-bottom solid 1px #eee
  .input
    margin-right box_width
    input
      border 0
      width 50%
      height box_width
      padding 0
      float left
      text-align right
      font 300 25px 'Lato'
      letter-spacing 1pt
      outline none
      color #555
  .control
    background #fff
    position absolute
    white-space nowrap
    right box_width
    transform translateX(100%)
    transition all 0.3s
    &.slide:hover
      right 0
      transform translateX(0)
      box-shadow -1px 0 15px rgba(0,0,0,0.35)
    span
      line-height box_width
      vertical-align top

.success
  color #2cca2c
.fail
  color #dc1d25
